.each-fade {
    display: flex;
    width: 100%;
}

body {
    overflow: hidden;
}

.each-fade>div {
    width: 75%;
}

.each-fade>div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.each-fade p {
    width: 25%;
    font-size: 1em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
}

.nav-style {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    *width: 10rem;
    font-size: 2.2rem;
    color: rgb(238, 242, 245);
    font-family: lato, arial, helvetica;
    /* margin-right: 0px!important; */
    height: 8rem;
    /* margin-right: 6rem!important; */
}

.dropdown {
    color: gray;
}

@media (max-width: 605px) {
    /* For mobile phones: */
    [className="location"] {
        width: 5rem;
        font-size: 1.2rem;
    }
    [className="popularmovies"] {
        width: 5rem;
        font-size: 1.2rem;
    }
    [className="login"] {
        width: 5rem;
        font-size: 1.2rem;
    }
    [className="signup"] {
        width: 5rem;
        font-size: 1.2rem;
    }
}